
<body>
<div class="back">
    <div class="container-fluid parallax back" style="margin-top: 65px">
        <div class="card bg-white border-secondary mb-3">
            <div class="card-header border-secondary bg-dark text-white text-center listTitle">
                {{pageTitle}}
            </div>
            <div class="card-body border-secondary headerTable">
                <div class="col-md-6" style="color:#33b5e5">Busca por Marca, Producto, Material, Medida, Precio, etc</div>
                <div class="col-md-2">
                    <input type="text" width="400"  [(ngModel)]="filter" type="text" name="search" placeholder='Buscar'>
                </div>
                <br>
            </div>
            <!-- <div class="table-responsive headerTable">
                <table class="table"
                       *ngIf='products && products.length'>
                    <thead>
                         <tr>
                            <th>
                                <button class="btn btn-primary"
                                        (click)='toggleImage()'>
                                    {{showImage ? 'Ocultar' : 'Mostrar'}} Imagen
                                </button>
                            </th>
                            <th>Producto</th>
                            <th>Medida</th>
                            <th>Precio</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor='let product of filteredProducts  | paginate: { itemsPerPage: 25, currentPage: p }; let i = index'>
                            <td>
                                <img class='center-block img-responsive'
                                     *ngIf='showImage'
                                     [style.width.px]='250'
                                     [style.margin.px]='2'
                                     [src]='product.imageUrl'
                                     [title]='product.productName | uppercase'
                                     [align]='imageAlign'>
                            </td>
                            <td>
                                <a [routerLink]="['/products',product.productId]">
                                    {{product.productName}}
                                </a>
                            </td>
                            <td>{{product.size | lowercase | convertToSpaces: '-'}}</td>
                            <td>{{product.price | currency:'MXN':'symbol':'1.2-2'}}</td>
                            <td>{{product.price | currency:'MXN':'symbol':'1.2-2'}}</td>
                        </tr>
                    </tbody>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </table>
            </div> -->

        </div>
        <div style="background: #f5f5f5" class="text-center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        <div class="list-group" *ngFor='let product of filteredProducts | filter:filter  | paginate: { itemsPerPage: 25, currentPage: p }; let i = index'>
            <div class="card flex-row flex-wrap cardLista">
                <div class="card-header border-2 cardLista">
                    <img img class='center-block img-responsive' *ngIf='showImage' [style.width.px]='200'
                        [style.height.px]='200' [src]='product.imageUrl' [title]='product.productName | uppercase'
                        [align]='imageAlign'>
                </div>
                <div class="card-block px-2 cardLista">
                    <h5 class="text-center" style="margin: 10px;"> <a [routerLink]="['/products',product.productId]">
                            {{product.productName}}
                        </a></h5>
                    <p class="card-text " style="color: #212121;"><strong>Información del
                            Producto</strong></p>
                    <h6 class="card-text " style="color: #212121;">
                        <strong>Precio: </strong>{{product.price | currency:'MXN':'symbol':'1.2-2'}} <br>
                    </h6>
                    <h6 class="card-text " style="color: #212121;">
                        <strong>Medida: </strong>{{product.size | convertToSpaces: '-'}} <br>
                    </h6>
                    <h6 class="card-text " style="color: #212121;">
                        <strong>Marca: </strong>{{product.brand | convertToSpaces: '-'}} <br>
                    </h6>
                    <a [routerLink]="['/products',product.productId]" class="btn btn-outline-primary">Ver ficha completa</a>
                </div>
                <div class="w-100"></div>
                <div class="card-footer w-100 text-muted">
                    Todos los precios están sujetos a cambios sin previo aviso
                </div>
            </div>
        </div>

    <div style="background: #f5f5f5" class="text-center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

        <!-- <div class="list-group" *ngFor='let product of filteredProducts  | paginate: { itemsPerPage: 25, currentPage: p }; let i = index'>
            <a [routerLink]="['/products',product.productId]" class="list-group-item list-group-item-action flex-column align-items-left">
              <div class="">
                    <img class='center-block img-responsive'
                    *ngIf='showImage'
                    [style.width.px]='250'
                    [style.height.px]='250'
                    [src]='product.imageUrl'
                    [title]='product.productName | uppercase'
                    [align]='imageAlign'>
                <h5 class="text-left">  <a [routerLink]="['/products',product.productId]">
                    {{product.productName}}
                </a></h5>
                <small>{{product.brand}}</small>
                <h6>Precio: {{product.price | currency:'MXN':'symbol':'1.2-2'}}</h6>
              </div>
              <div class="d-flex w-100 justify-content-between">
              </div>
             
            </a>
          </div> -->

    </div>
    <div class="footer">
            <footer class="page-footer font-small blue pt-4">

                    <!-- Footer Links -->
                    <div class="container-fluid text-center text-md-left">
                
                      <!-- Grid row -->
                      <div class="row">
                
                        <!-- Grid column -->
                        <div class="col-md-6 mt-md-0 mt-3">
                
                          <!-- Content -->
                          <h5 class="text-uppercase" style="color:whitesmoke">Plomeria y Acceorios de Chihuahua</h5>
                          <p  style="color:whitesmoke">Chihuahua, Chihuahua</p>
                          <a href="mailto:plomeria_accesorios@yahoo.com.mx" style="color:whitesmoke"> <img src="https://plomeriayaccesorios.github.io/plomeria/assets/images/baseline_email_white_18dp.png" width="40" height="40" class="d-inline-block align-top"
                            alt="">plomeria_accesorios@yahoo.com.mx</a>
                          <p  style="color:whitesmoke"> <img src="https://plomeriayaccesorios.github.io/plomeria/assets/images/baseline_phone_white_18dp.png" width="40" height="40" class="d-inline-block align-top"
                            alt="">Tel +52 614 482 8922</p>
                         
      
                
                        </div>
                        <!-- Grid column -->
                
                        <hr class="clearfix w-100 d-md-none pb-3">
                
                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">
                
                            <!-- Links -->
                            <h5 class="text-uppercase">Links</h5>
                
                            <ul class="list-unstyled">
                              <li>
                                <a href="#!"></a>
                              </li>
                              <li>
                                <a href="#!"></a>
                              </li>
                              <li>
                                <a href="#!"></a>
                              </li>
                              <li>
                                <a href="#!"></a>
                              </li>
                            </ul>
                
                          </div>
                          <!-- Grid column -->
                
                          <!-- Grid column -->
                          <div class="col-md-3 mb-md-0 mb-3">
                
                            <!-- Links -->
                            <h6 class="text-uppercase" style="color:#33b5e5">Diseño y Desarrollo del Website</h6>
                
                            <a href="mailto:shepniel@gmail.com" style="color:whitesmoke"> <img src="https://plomeriayaccesorios.github.io/plomeria/assets/images/baseline_email_white_18dp.png" width="40" height="40" class="d-inline-block align-top"
                              alt="">shepniel@gmail.com</a>
                            <p  style="color:whitesmoke"> <img src="https://plomeriayaccesorios.github.io/plomeria/assets/images/baseline_phone_white_18dp.png" width="40" height="40" class="d-inline-block align-top"
                              alt="">Tel +52 614 285 54 51</p>
                
                          </div>
                          <!-- Grid column -->
                
                      </div>
                      <!-- Grid row -->
                
                    </div>
                    <!-- Footer Links -->
                
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3"  style="color:whitesmoke">© 2019 Copyright: Plomeria y Acceorios de Chihuahua
                    </div>
                    <!-- Copyright -->
                  </footer>
    </div>
</div>
</body>