<div  class="back">
    <div class="parallax">
      <br>
      <br>
      <br>
      <div class="card text-center back2">
          <div class="card-header">
           <img class="card-img-top imgs"
          
           src="./assets/images/logo.png"
           alt="Card image top">
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h3 class=" mt-4">¡El más extenso surtido en artículos de plomería!</h3>
       <div class="card-img">
          <img class="imgs2"
           src="./assets/images/icons.png"
           alt="Card image top">
         
         <br>
       </div>
          </div>
          <div class="card-footer">
             <h4> AV DE LAS INDUSTRIAS, 11503/4, REVOLUCION, CHIHUAHUA, CHIH, C.P. 31135</h4>
          </div>
        </div>
      <table>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
      </table>
      <div class="container mb-5"
           id="Description">
        <br>
        <br>
        <br>
        <h2></h2>
        <h2 class="mt-4">Quienes somos?</h2>
        <a class='btn btn-outline-primary'
           href="#top"
           style='width:150px'>
          <i class='fa fa-chevron-left'></i> Regresar a inicio
        </a>
        <div class="paragraphs">
            <div class="row">
              <div class="span4">
                <img style="float:left" src="./assets/images/MonoPlomeria.png"/>
                <div class="content-heading"><h3 style="color: whiteSmoke; text-align: center"> 
                    Plomería y Accesorios Chihuahua: Máxima calidad para tus instalaciones </h3>
                  <br>
                    <p style="color: whiteSmoke; text-align: justify">
                        ¡No busques más! En Plomería y Accesorios Chihuahua te ofrecemos el más extenso surtido de artículos de plomería de toda la ciudad.
                      <br>
                      <br>
                        Contamos con artículos de plomería y accesorios desde llaves de paso, material para instalación o tubería PVC hasta venta de tinacos e hidroneumáticos.
                      <br>
                      <br>
                        Todos nuestros artículos de plomería cumplen con altos estándares de calidad, por lo que obtendrás el resultado esperado en cualquier instalación o reparación.
                      <br>
                      <br>
                        Conócenos, tenemos los artículos de plomería a los precios más competitivos de Chihuahua.
                    </p>

                        <br><h2 style="color: #ffbb33; text-align: center">¡Contamos con servicio a domicilio!</h2> 
                  </div>
              </div>
            </div>
          </div>
      </div>
      <div class="container mb-5"
           id="Conocenos">
        <br>
        <br>
        <br>
        <h2 class="mt-4">Conócenos</h2>
        <a class='btn btn-outline-primary'
           href="#top"
           style='width:150px'>
          <i class='fa fa-chevron-left'></i> Regresar a inicio
        </a>
  
        <div class="card-group mt-4">
          <div class="card text-white mx-3 text-center bg-secondary">
            <div class="card-header  border-success text-center">
              Plomeria y Accesorios
            </div>
            <img class="card-img-top"
         
                 src="./assets/images/tinaco.jpg"
                 alt="Card image top">
            <div class="card-img">
              <h3 class="card-title mt-4">¡Tinacos!</h3>
            </div>
          </div>
          <div class="card text-white mx-3 text-center bg-secondary">
            <div class="card-header border-success text-center">
                Plomeria y Accesorios
            </div>
            <img class="card-img-top"
                 src="./assets/images/plumber2.png"
                 alt="Card image top">
            <div class="card-img">
              <h3 class="card-title mt-4">¡La mejor Calidad!</h3>
            </div>
          </div>
        </div>
        <div class="card-group mt-4">
          <div class="card text-white mx-3 text-center bg-secondary">
            <div class="card-header  border-success text-center">
                Plomeria y Accesorios
            </div>
            <img class="card-img-top"
                 src="./assets/images/plumber4.png"
                 alt="Card image top">
            <div class="card-img">
              <h3 class="card-title mt-4">¡Confianza y Calidad!</h3>
            </div>
          </div>
          <div class="card text-white mx-3 text-center bg-secondary">
            <div class="card-header  border-success text-center">
                Plomeria y Accesorios
            </div>
            <img class="card-img-top"
                 src="./assets/images/plumber3.png"
                 alt="Card image top">
            <div class="card-img">
              <h3 class="card-title mt-4">
                ¡Los Mejores Productos!</h3>
            </div>
          </div>
        </div>
      </div>
      <table>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
      </table>
      <div class="container mt-4"
           id="Contacto">
        <br>
        <br>
        <br>
        <h2 class="mt-4">Contáctanos</h2>
        <a class='btn btn-outline-primary'
           href="#top"
           style='width:150px'>
          <i class='fa fa-chevron-left'></i> Regresar a inicio
        </a>
        <div class="card bg-primary">
          <div class="card-header border-secondary ">
            Ubicación
          </div>
          <iframe height="400px"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=plomeria%20y%20accesorios%20electricos&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"></iframe>
          <div class="card-footer">
            Tel +52 614 482 8922
          </div>
        </div>
      </div>
      <div class="footer">
          <footer class="page-footer font-small blue pt-4">

              <!-- Footer Links -->
              <div class="container-fluid text-center text-md-left">
          
                <!-- Grid row -->
                <div class="row">
          
                  <!-- Grid column -->
                  <div class="col-md-6 mt-md-0 mt-3">
          
                    <!-- Content -->
                    <h5 class="text-uppercase" style="color:whitesmoke">Plomeria y Acceorios de Chihuahua</h5>
                    <p  style="color:whitesmoke">Chihuahua, Chihuahua</p>
                    <a href="mailto:plomeria_accesorios@yahoo.com.mx" style="color:whitesmoke"> <img src="./assets/images/baseline_email_white_18dp.png" width="40" height="40" class="d-inline-block align-top"
                      alt="">plomeria_accesorios@yahoo.com.mx</a>
                    <p  style="color:whitesmoke"> <img src="./assets/images/baseline_phone_white_18dp.png" width="40" height="40" class="d-inline-block align-top"
                      alt="">Tel +52 614 482 8922</p>
                   

          
                  </div>
                  <!-- Grid column -->
          
                  <hr class="clearfix w-100 d-md-none pb-3">
          
                  <!-- Grid column -->
                  <div class="col-md-3 mb-md-0 mb-3">
          
                      <!-- Links -->
                      <h5 class="text-uppercase">Links</h5>
          
                      <ul class="list-unstyled">
                        <li>
                          <a href="#!"></a>
                        </li>
                        <li>
                          <a href="#!"></a>
                        </li>
                        <li>
                          <a href="#!"></a>
                        </li>
                        <li>
                          <a href="#!"></a>
                        </li>
                      </ul>
          
                    </div>
                    <!-- Grid column -->
          
                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">
          
                      <!-- Links -->
                      <h6 class="text-uppercase" style="color:#33b5e5">Diseño y Desarrollo del Website</h6>
          
                      <a href="mailto:shepniel@gmail.com" style="color:whitesmoke"> <img src="./assets/images/baseline_email_white_18dp.png" width="40" height="40" class="d-inline-block align-top"
                        alt="">shepsoft@gmail.com</a>
                      <p  style="color:whitesmoke"> <img src="./assets/images/baseline_phone_white_18dp.png" width="40" height="40" class="d-inline-block align-top"
                        alt="">Tel +52 614 285 54 51</p>
          
                    </div>
                    <!-- Grid column -->
          
                </div>
                <!-- Grid row -->
          
              </div>
              <!-- Footer Links -->
          
              <!-- Copyright -->
              <div class="footer-copyright text-center py-3"  style="color:whitesmoke">© 2019 Copyright: Plomeria y Acceorios de Chihuahua
              </div>
              <!-- Copyright -->
            </footer>
      </div>
    </div>
  </div>
  
  <!-- <div class="container">
      <div>
          <div class="card border-success mb-0">
              <div class="card-header bg-dark border-success text-center">
                {{pageTitle}}
              </div>
              <img src="./assets/images/Greenhouse.png"
              class="card-img-top"
              style="width: 100%"/>
            
              <div class="card-img">
                <div class="container-fluid">
                  <div class="text-center">
                  </div>
                  <div class="text-center">Developed by:</div>
                  <div class="text-center">
                    <h3>Greenhouse Management</h3>
                  </div>
                  <div class="text-center">@shepniel</div>
                  <div class="text-center">
                    <a href="http://www.twitter.com/shepniel">http://www.twitter.com/shepniel</a>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent border-success">@shepniel</div>
            </div>
      </div>
      </div> -->
  <!-- <div class="card border-success mb-0">
    <div class="card-header bg-transparent border-success">
      {{pageTitle}}
    </div>
    <img src="./assets/images/Greenhouse.png"
    class="card-img-top"
    style="width: 100%"/>
  
    <div class="card-img-overlay">
      <div class="container-fluid">
        <div class="text-center">
          
       
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Greenhouse Management</h3>
        </div>
  
        <div class="text-center">@shepniel</div>
        <div class="text-center">
          <a href="http://www.twitter.com/shepniel">http://www.twitter.com/shepniel</a>
        </div>
      </div>
    </div>
    <div class="card-footer bg-transparent border-success">@shepniel</div>
  </div>  -->